.container-home-page {
  height: 100%; }
  .container-home-page .section .content {
    margin: 20px; }
    .container-home-page .section .content .title {
      font-size: 16px;
      color: red; }
    .container-home-page .section .content .short-text {
      white-space: pre-line;
      font-size: 14px;
      line-height: 1.5;
      list-style: none;
      word-break: break-word; }
      .container-home-page .section .content .short-text .readMoreText {
        margin-left: 10px; }

@media (max-width: 538px) {
  .container-home-page .section .content .title {
    margin-top: 10px;
    margin-bottom: 10px; } }
