.container-home-page {
  height: 100%;

  .section {
    .content {
      margin: 20px;

      .title {
        font-size: 16px;
        color: red;
      }

      .short-text {
        .readMoreText {
          margin-left: 10px
        }

        white-space: pre-line;
        font-size: 14px;
        line-height: 1.5;
        list-style: none;
        word-break: break-word;
      }
    }
  }
}

@media (max-width: 538px) {
  .container-home-page {
    .section {
      .content {
        .title {
          margin-top: 10px;
          margin-bottom: 10px
        }
      }
    }
  }
}