.share-container .content {
  min-width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 50px 20px;
  margin-top: 120px; }
  .share-container .content .share-form {
    width: 100%; }
  .share-container .content .share-form-forgot {
    float: right; }

@media (max-width: 538px) {
  .share-container .content {
    padding: 20px 20px;
    min-width: 300px; } }
