.login-container {
    .content {
        min-width: 400px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        border: 1px solid black;
        padding: 50px 50px;
        margin-top: 120px;
        .login-form{
            width: 100%;
        }
        .login-form-forgot {
            float: right;
        }

        .login-form-button {
            width: 100%;
        }
    }
}

@media (max-width: 538px) {
    .login-container {
        .content{
            min-width: 300px;
        }
    }
  }
  