.component-header {
  background: #12D0F8;
  padding: 15px;
  color: #ffffff;

  // cursor: pointer;
  .title {
    color: #ffffff !important;
    font: 2em sans-serif;
  }

  .logout {
    cursor: pointer;
  }
}

@media (max-width: 538px) {
  .component-header {
    .right-content {
      flex-direction: column
    }
  }
}