.component-header {
  background: #12D0F8;
  padding: 15px;
  color: #ffffff; }
  .component-header .title {
    color: #ffffff !important;
    font: 2em sans-serif; }
  .component-header .logout {
    cursor: pointer; }

@media (max-width: 538px) {
  .component-header .right-content {
    flex-direction: column; } }
